@import '../../settings/_!settings.scss';

$constrained-1 :    350px;
$constrained-1-xs : 350px;
$constrained-1-is : 350px;
$constrained-1-sm : 350px;
$constrained-1-md : 350px;
$constrained-1-lg : 350px;
$constrained-1-xl : 350px;

$constrained-2 :    500px;
$constrained-2-xs : 500px;
$constrained-2-is : 500px;
$constrained-2-sm : 500px;
$constrained-2-md : 500px;
$constrained-2-lg : 500px;
$constrained-2-xl : 500px;