@import '_variables.scss';
@import '_extends.scss';
@import '_mixins.scss';

.back-to-top {
	@extend .btn;
	@extend .btn-default;
	@extend .pos-fixed-bottom-left;
	opacity: 0;
	min-width: 0;
	@include single-transition(opacity, 300ms, ease-in-out);
	border: 1px solid $white !important;
	z-index: 9999;
}

.back-to-top-visible {
	opacity: 1.0;
}